<!DOCTYPE html>
<html>
<head>
    <title>Database Management</title>
</head>
<body>
    <h1>Database Management</h1>
    <ul>
        <li><a href="{% url 'military_commissariat_list' %}">Military Commissariat</a></li>
         <li><a href="{% url 'official_list' %}">Official</a></li>
         <li><a href="{% url 'conscript_list' %}">Conscript</a></li>
         <li><a href="{% url 'personal_data_list' %}">Personal_data</a></li>
         <li><a href="{% url 'fitness_for_service_list' %}">Fitness_for_service</a></li>
         <li><a href="{% url 'summon_list' %}">Summon</a></li>
         <li><a href="{% url 'medical_examination_list' %}">Medical_examination</a></li>
         <li><a href="{% url 'militaryrank' %}">Militaryrank</a></li>
         <li><a href="{% url 'military_id_list' %}">Military_id</a></li>

    </ul>
</body>
</html>